<!--contain-->
<div class="container">
  <h1 class="text-center">Inspiring Quotes</h1>
  <div class="row destacados">

    {{#each emotions}}
      <div class="col-md-3">
        <a href="/task1/{{title}}">
          <img
            src="/images{{imagePath}}"
            alt="{{title}}"
            class="img-circle img-thumbnail"
          />
          <h2>{{title}}</h2>
        </a>
      </div>
    {{/each}}

  </div>
  <div class="row text-center">
    <img class="img-thumbnail" src="/images{{quotePath}}" />
  </div>
</div>
<!--/contain-->